html, body {
  background: url(../resources/carbonFiber-bkg.jpg) repeat center center fixed;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
  overflow-y: auto;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-direction: column;
}
/*TYPOGRAPHY*/
input, i{
      opacity: 0.9;
      transition: all 0.3s ease 0s;
}
input:hover, i:hover {
      opacity: 1;
}
i{
  color: inherit;

}
i:hover {
  color: #016ecd;
}
h1,h2,h3,h4,h5,h6,a,em,strong,p {
  color: #cccccc !important;
  font-family:"Trebuchet MS", sans-serif !important;
}
small {
  color: #cdcdcd !important;

}
a {
  color: #00B7FF;
}
em {
  color: #911010;
  text-shadow: 1px 1px 10px rgba(100, 100, 100, 25);
}
/*HEADER*/
header{
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), #000000); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), #000000); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(bottom, rgba(0, 0, 0, 0), #000000); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to top, rgba(0, 0, 0, 0), #000000); /* Standard syntax; must be last */
    top: 0;
    left: 0;
    width: 100%;
    border: none !important;
}
.mainTitle {
  text-shadow: 5px 5px 5px rgba(100,100,100,25);
  text-align: center;
}

/*MAIN*/
#main {
  text-align: center;

}
#blastTrigger {
    box-shadow: 10px 10px 5px rgba(100,100,100,0.5);
  }
.boxes {
  background: #ff0000;
  height: 5px;
  margin-left: 20px;
}

.raceTitle {
    padding-top: 50px;
    text-align: left;
}

.raceEnv {
    margin-left: 20px;
    margin-bottom: 0px;
    text-align: left;
}
#resultsDiv {
  padding: 2em;

}
/*FOOTER*/
span {
    text-align: left;
}
#git {
  padding-top: 15px;
}
footer{
  text-align: center;
  width: 100%;
  height: 75px;
  background: black;


}
