body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  flex-direction: column;
  background: #328589;
}

a {
  color: #00B7FF;
}

#main {
  text-align: center;

}
.boxes {
  padding: 3px;

}
.redbox {
  background: #ff0000;
  width: 5px;
  height: 5px;
}
