extends layout

block content
  #main
    .content-fluid
      .row
        .col-lg-12
          h1 #{title}
            small Racing Scality and AWS
          p #{results}
          form(action='/blast', method='get')
            input#blastTrigger.btn.btn-danger.btn-lg(type='submit', value='Blast Off!', name='Submit')

      .row
        .col-lg-12
          - for (var x = 0; x < parallelReq; x++)
            ul(id='x' class='boxes')
              .redbox(style="width:#{latencyTime}")
